.red{
    background-color: red;
    width: 100px;
    height: 100px;
    margin:200px;
    position: absolute;
}
.blue{
    background-color: blue;
    width: 100px;
    height: 100px;
    margin:100px;
    position: absolute;
}.yellow{
    background-color: yellow;
    width: 100px;
    height: 100px;
    margin:0;
    position: absolute;
}
body {
    margin: 0;
}